@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-2">
        firstname
    </div>
    <div class="col-md-10">
        <input type="text" id="fname" class="form-control" placeholder="first name" />
    </div>
    <div class="col-md-2">
        lastname
    </div>
    <div class="col-md-10">
        <input type="text" id="lname" class="form-control" placeholder="last name" />
    </div>


    <button class="btn btn-primary update" id="save">save</button>
    <button class="btn btn-primary" id="update">Update</button>

    <div class="btn btn-danger" id="reset">reset</div>



</div>

<div class="row">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>first name</th>
                <th>last name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="userdata">

        </tbody>

    </table>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/script/user.js"></script>